{% load staticfiles %}
<html>
<head>
    <meta charset='UTF-8'>

</head>
    <body>
    {% if texto %}
        <div id="text">
        </div>
    {% else %}
    <p>No se encontro dato</p>
    {% endif %}
    
    </body>
    <script>
	var fill = d3.scale.category20();
        var texto = "{{texto}}";
        var palabras = new Array();
        var topicos = new Array();
        var probabilidad = new Array();
        var color = new Array();
        palabras=texto.split(' ');
        var data = {{topicos|safe}};
        llenar_topicos(data,topicos,probabilidad,color,fill);
        crear_texto(palabras,topicos,probabilidad,color);
        function llenar_topicos(data,topicos,probabilidad,color) {
            var i=0;
            for(x in data)
            {
                topicos.push(x);
                probabilidad.push(data[x]*500);
                color.push(fill(i));
                i++;
            }
        }
        function crear_texto(palabras,topicos,probabilidad,color) {
            for(element in palabras)
            {
                
                var bool= false;
                var mycolor;
                for (x in topicos)
                {
                    if (palabras[element]==topicos[x]) {
                        bool=true;
                        mycolor=x;
                    }
                }
                if (bool) {
                    d3.select("#text")
                        .append("span").text(palabras[element]+" ")
                        .style('color',color[mycolor]).style('font-size', 12*probabilidad[mycolor]);
                }
                else
                {
                    d3.select("#text")
                        .append("span").text(palabras[element]+" ")
                }
            }
        }
    </script>
</html>