Django>=1.10.5
Pillow>=4.0.0
Unidecode>=0.04.20
argparse>=1.2.1
brewer2mpl>=1.4.1
captcha>=0.2.1
chardet>=2.3.0
django-debug-toolbar>=1.6
django-extensions>=1.7.5
extensions>=0.4
nltk>=3.2.2
numpy>=1.12.0
olefile>=0.44
progressbar>=2.3
scipy>=0.18.1
six>=1.10.0
sqlparse>=0.2.2
-e git+https://github.com/inpho/vsm.git@9f28d724e691ed21007f501e19e1cceeb7040fd3#egg=vsm-origin/interop
wsgiref>=0.1.2
