{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>{% block title %}{% endblock %}</title>
        <script src="{% static "topic_explorer/js/lib/jquery-1.11.0.min.js" %}"></script>
        <script src="{% static "topic_explorer/bootstrap-2.3.2/js/bootstrap.min.js" %}"></script>
        <script src="{% static "topic_explorer/js/lib/d3.v3.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "topic_explorer/bootstrap-2.3.2/css/bootstrap.min.css" %}"/>

        {% block headScriptCss %}
        {% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>